body{
    background-color: #D8DBD6;
    display: flex;
    justify-content: center;
}
.label{
    background-color: #009688;
    height: 200px;
    width: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
}
.msgbox{
    height: 450px;
    width: 700px;
    background-color:#E5DDD5;
    position: absolute;
    margin-top: 100px;
}
.part1{
    background-color: white;
    width: 250px;
    height: 450px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
}
.card{
    height: 65px;
    width: 240px;
    background-color: silver;
    margin: 5px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}
.dp{
    height: 65px;
   
}
.info{
    display: flex;
    justify-content: center;
    width: 240px;
}

.status{
    height: 65px;
    width: 450px;
    background-color: rgba(255, 255, 255, 0.562);
    position: absolute;
    top: 0px;
    left: 250px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
img{
    height: 65px;
}
p{
    font-weight: 800;
}
small{
    color: green;
    font-weight: 800;
}
.msg{
    height: 50px;
    width: 450px;
    background-color:rgba(255, 255, 255, 0.562) ;
    position: absolute;
    bottom: 0px;
    left: 250px;  
    display: flex;
    justify-content: space-between;
}
button{
    background-color: teal;
    position: absolute;
    right: 0px;
    height: 50px;
    color: white;
}
input{
    width: 390px;
    height: 35px;
    margin: 2.5px;
    border-radius: 5px;
}